# Python bytecode
__pycache__
*.py[cod]

# Packaging files
*.egg*

# SQLite3 database files
*.db
*.sqlite3

# Logs
*.log

# Mac
.DS_Store
._*

# PyCharm
.idea

# Virtual environment
ve

# Optional local copy of environment variables
vars.environment

# Any temp folder
_tmp

# Test fixtures
test_user_*_bearertokens.json