{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    {{  block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "search/css/search.css" %}">
{% endblock css %}

{% block title %}
    Search
{% endblock title %}

{% block content %}
    <p>
    This is your search: {{ gets }}
    </p>

    <h1>Twitter</h1>
    <p>
        <ul>
            {% for tweet in twitter_results %}
                <li>
                    {{ tweet.text_original }}
                </li>
            {% endfor %}
        </ul>
    </p>
{% endblock content %}