{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    {{  block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "search/css/search.css" %}">
{% endblock css %}

{% block title %}
    Search
{% endblock title %}

{% block content %}

    {% if gmail_is_selected %}
        {%  include 'results/gmail_results.html' %}
    {% endif %}

    {% if drive_is_selected %}
        {%  include 'results/drive_results.html' %}
    {% endif %}

    {% if facebook_is_selected %}
        {%  include 'results/facebook_results.html' %}
    {% endif %}

    {% if dropbox_is_selected %}
        {%  include 'results/dropbox_results.html' %}
    {% endif %}

    {% if twitter_is_selected %}
        {%  include 'results/twitter_results.html' %}
    {% endif %}

{% endblock content %}