{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
    {{  block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "search/css/search.css" %}">
{% endblock css %}

{% block title %}
    Search
{% endblock title %}

{% block content %}

    {% if gmail_is_selected %}
        <h1>Gmail</h1>
        <ul>
            {% for email in gmail_results %}
                <li>
                    ID: {{ email.id }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if drive_is_selected %}
        <h1>Drive</h1>
        <ul>
            {% for document in drive_results %}
                <li>
                    ID: {{ document.id }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if facebook_is_selected %}
        <h1>Facebook</h1>
        <ul>
            {% for post in facebook_results %}
                <li>
                    ID: {{ post.id }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if dropbox_is_selected %}
        <h1>Dropbox</h1>
        <ul>
            {% for document in dropbox_results %}
                <li>
                    ID: {{ document.id }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    {% if twitter_is_selected %}
        <h1>Twitter</h1>
        <ul>
            {% for tweet in twitter_results %}
                <li>
                    ID: {{ tweet.id }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endblock content %}